body{
    background: #ffe450;
    font-family: "Segoe UI", serif;
}

span{
    color: seagreen;
    font-weight: bold;
    font-size: 18px;
}

p{
    color: darkgreen;
    padding-left: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
}

div {
    display: flex;
    flex-wrap: wrap;
}